{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="centered">
<form method="post" id="change_password" action="{% url 'change_password' %}">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <input type="submit" />
</form>
    </div>
{% endblock content %}