{% extends "base.html" %}

{% block content %}
<div class="modal" tabindex="-1" role="dialog" id="password-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Introduce the password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %} 
                        {% endfor %}
                        <button type="submit" class="btn btn-sucess">Submit</button> 
                    </form> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}